/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.App {
  text-align: center;
  font-family: "Staatliches";
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  /* position: fixed; */
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #a3a089;
}


.supplyCounter {
  font-size: 40px;
}

.css-b2sdv4{
  align-items:initial !important;
}

@media screen and (max-width: 2000px) {
  .header-img img {
    width: 320px;
  }
  
}
@media screen and (max-width: 1500px) {
.marquee{
    height: 203px !important;
  }
   .image_wrapper img {
    height: 197px !important;
}
 .header-img  {
    margin-top: -50px;
  }
 p{
  margin: 0;
    padding: 0 !important;
  }
  .supplyCounter {
    font-size: 29px;
}
  .header-img img {
    width: 300px;
  }
}
@media screen and (max-width: 1400px) {
  
 
  .marquee{
    height: 170px !important;
  }
   .image_wrapper img {
    height: 167px !important;
}

  .tree img {
    width: 190px;
  }
  .footerimg img {
    width: 740px;
  }
}
@media screen and (max-width: 1150px) {
  .header-img img {
    width: 332px;
  }
  .tree img {
    width: 190px;
  }
  .footerimg {
  display: flex;
  justify-content: left;
  margin-left: 30px;
}
  .footerimg img {
    width: 740px;
  }
}
@media screen and (max-width: 1000px) {
.header-img  {
    margin-top: -25px;
  }
}
@media screen and (max-width: 930px) {
  .header-img img {
   width: 279px;
  }
}
@media screen and (max-width: 890px) {
  .header-img img {
   width: 279px;
  }
}
@media screen and (max-width: 767px) {
  .marquee{
    height: 130px !important;
  }
   .image_wrapper img {
    height: 126px !important;
}
  .background {
    background-size: cover;
    background-position: 50% 100%;
    max-width: 100%;
  }
  .supplyCounter {
    font-size: 20px !important;
  }
  .connect-btn{
    position: absolute;
    margin-top: 75rem !important;
   
    display: flex;
    z-index: 99999999999999999999;
    align-content: center;
    justify-content: center;
     
     width: 92%;
}
.css-rauxjh{
  position: absolute;
    margin-top: 30rem !important;
   
    display: flex;
    z-index: 99999999999999999999;
    align-content: center;
    justify-content: center;
      width: 90%;
}
  .css-o8doay{
    font-size: 13px !important;

  }
  .social-buttons {
    display: none;
  }
}
@media screen and (max-width: 735px) {
  .header-img img {
   width: 200px;
  }
  .css-rauxjh { 
  margin-right:   0px !important;
  margin-left:   0px !important; 
}

}
@media screen and (max-width: 600px) {
  .header-img img {
   width: 235px;
  }
.connect-btn {
  width: 88%;
  align-content: center;
    justify-content: center;
}
}
@media screen and (max-width: 508px) {


  .connect-btn{ 
    margin-top: 70rem !important;
    align-content: center;
    justify-content: center;
    width: 90%;
   
   
}
.css-rauxjh{
  position: absolute;
    margin-top: 25rem !important;
   
    display: flex;
    z-index: 99999999999999999999;
    align-content: center;
    justify-content: center;
      width: 90%;
}
.css-rauxjh { 
  margin-right:   0px !important;
  margin-left:   0px !important;
    font-size: 16px !important;
}
}
@media screen and (max-width: 495px) {
  .header-img img {
   width: 200px;
  }
 
}
@media screen and (max-width: 400px) {
  .connect-btn {
    margin-top: 50rem !important;
    align-content: center;
    justify-content: center;
    width: 85%;
}
  .header-img img {
   width: 200px;
  }
  .css-rauxjh{
    position: absolute;
      margin-top: 25rem !important;
  }
  .css-6orinh {
    font-size: 20px !important;
}

}
@media screen and (max-width: 350px) {
   
  .supplyCounter {
    font-size: 20px;
  }
}
